body{
    font-family: arial, verdana, sans-serif;
    margin: 0px 195px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: white;
}

.logo-heading  {
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 7em;
    margin-bottom: 20px;
    margin-top: 40px;
}

.heading-subtitle {
    letter-spacing: 10px;
    line-height: 30px;
    margin-top: 0px;
    font-weight: lighter;
}

#header{
    .gradient{
        position: absolute;
        width: 100%;
        height: 132px;
    }
    position: relative;
    background-color:mediumseagreen;
    display: flex;
    justify-content: center;
    background-size: 100% 100%;
    background-position-x: 0px;

}

.logo {
    z-index: 1;
    display: flex;
    align-items: center;
    .logo-svg {
        transform: scale(1.8,1.8);
        .logo-triangle {
            fill: none;
        }
        margin-right: 30px;
        padding-bottom: 5px;
        fill: none;
        stroke: white;
        stroke-width: 2px;
        stroke-linecap: square;
        stroke-linejoin: bevel;
    }
    .logo-text {
        display: flex;
        flex-direction: column;
        margin: 40px 0px;
    }
}

.navigation{
    display: flex;
    position: relative;
    background: rgb(63, 58, 58);
    background-image: linear-gradient(to left, mediumseagreen 0%, transparent 30%);
}

.main-menu{
    justify-content: flex-start;
    display: flex;
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

.menu-link{
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.form-item{
    position: absolute;
    right: 0;
}

.campo-ricerca{
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
}

.modulo-ricerca{
    margin: 8px 10px auto auto;
}

.tasto-menù {
    display: none;
}


/*--------STILE NAVIGAZIONE RESPONSIVE PER MOBILE------------------*/

@media all and (max-width: 1200px) {
    
    .main-menu {
     flex-direction: column;
     width: 100%;
    }
    .main-menu li:not(:first-child) {
     display: none;
    }
    .main-menu li.tasto-menù {
     display: block;
    }
    .tasto-menù {
     position: absolute;
     right: 0;
    }
    .topnav {
     position: relative;
    }

    /*ADD JAVASCRIPT CLASS*/
    .main-menu.responsive {
     position: relative; 
     padding-bottom: 10px;
    }
    .main-menu.responsive .tasto-menù {
     position: absolute;
     right: 0px;
     top: 0px;
    }

    .main-menu.responsive li, .form-item.responsive li {
     display: block;
     position: relative;
    }
}
/*----------------------------------------------------------------*/ 


/*-------BASE BLOCK COLLAPSE CARDS---------*/

.collapsible {
    //box-shadow: -3px 0px 5px grey;
    background:  rgb(63, 58, 58);
    color: #444;
    //cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    }

  .relative {
    position: relative;
    box-shadow: -3px 3px 5px grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #f1f1f1;
   
  }

  .toggle, .collapsible:hover {
    background-color: #ccc;
   }

   .active {
    background: mediumseagreen;
  }

  .content {
    //box-shadow: -3px 3px 5px grey;
    max-height: 100px;
    padding: 18px;
    padding-bottom: 45px;  
    overflow: hidden;
    background-color: #f1f1f1;
    transition: max-height 0.5s  ease-out;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: justify;
    background: linear-gradient(to top, grey 0%, #f1f1f1 35%);
    
  
   }

   .card{
    flex: 1;
    margin: 1.5%;
    }

  .card-container{
    display: flex;
    justify-content: space-around;
    color: black;
  }
  
/*------- END BLOCK COLLAPSE CARDS---------*/

@media all and(max-width: 1200px){
    body{
        margin: 0;
    }

    .card-container{
        
        flex-direction: column;
    }
}

#footer{
    background: rgb(63, 58, 58);
    padding: 10px;
}

/*--------------CLASSI DI UTILITÀ------------------*/

.label{
    position: absolute;
    top: 0px;
    background:  rgb(63, 58, 58);
    padding-right: 20px;
    padding-left: 5px;
    color: white;
    border-bottom-right-radius: 50px 100px;
    border-right: 10px solid tomato;
}

.max-width{
    max-width: 100%;
}

.justify-text{
    text-align: justify;
}

.menu-link:hover{
    background: tomato;
}

.flexsible-div{
    display: flex;/*provvisoria*/
}

.h3-style{
    text-align: start;
    border-bottom: 1px solid tomato;
    border-left: 10px solid tomato;
    padding-left: 5px;
}


/*--------------------------------------------------*/
