body{
    margin: 0px 200px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    color: white;
}

#header{
    .gradient{
        background: linear-gradient(to right, #0a38c2 0%, transparent 70%);
        position: absolute;
        width: 100%;
        height: 132px;
    }
    position: relative;
    background: #0a38c2;
    display: flex;
    justify-content: center;
    background: url(imm/header-background-1.jpg);
    background-size: 100% 100%;
    background-position-x: 0px;
}


.logo {
    z-index: 1;
    display: flex;
    align-items: center;
    .logo-svg {
        .logo-triangle {
            fill: #67B4F8;
        }
        padding-bottom: 5px;
        fill: none;
        stroke: white;
        stroke-width: 2px;
        stroke-linecap: square;
        stroke-linejoin: bevel;
    }
    .text-logo {
        display: flex;
        flex-direction: column;
    }
 }


.navigation{
    display: flex;
    background: mediumseagreen;
    background-image: linear-gradient(to left, #0a38c2 0%, transparent 30%);
    
}

.main-menu{
    justify-content: flex-start;
    display: flex;
    list-style: none;
    margin: 0px;
}

.menu-link{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}

.menu-link:hover{
    background: #0a38c2;
}

.modulo-ricerca{
    margin: auto 10px auto auto;
}

.campo-ricerca{
    outline: none;
    border-radius: 5px;
    padding-left: 5px;
}

/*stile navigazione per mobile*/
@media all and (max-width: 700px) {
    .navigation, .main-menu {
        padding: 0px;
        flex-direction: column;
        }
        .menu-item{
            padding: 3px 0px;
            
        }
        .modulo-ricerca{
            display: flex;
            order: -1;
            margin-top: 10px;
        }
}

#content{
    margin-top:10px;
    
}

#page-header{
    position: relative;
    display: flex;
    height: 160px;
    margin-bottom: 10px;
    .gradient-page-header{
        background: linear-gradient(to right, #0a38c2 0%, transparent 100%);
        position: absolute;
        width: 100%;
        height: 160px;
        
        }
        .sottotitolo-page{
            padding-left: 20px;
        }
    }

.page-heading{ 
    z-index: 1;
    height: 50px;
    background: mediumseagreen;
    padding-right: 30px;
    padding-left: 5px;
    border-right: 10px solid orange;
    border-bottom-right-radius: 50px 100px;
    line-height: 1.5;    
}
.nebrodi-title-style {
    border-color: orange;
}
.nebrodi-section-style {
    padding-left: 10px;
    border-left: 15px solid orange;
    border-bottom: 1px solid orange;
}
.peloritani-title-style {
    border-color: yellow;
}
.peloritani-section-style {
    padding-left: 10px;
    border-left: 15px solid yellow;
    border-bottom: 1px solid yellow;
}
.sentieri-title-style {
    border-color: violet;
}
.sentieri-section-style {
    padding-left: 10px;
    border-left: 15px solid violet;
    border-bottom: 1px solid violet;
}

.prodotti-locali-title-style {
    border-color: purple;
}
.prodotti-locali-section-style {
    padding-left: 10px;
    border-left: 15px solid purple;
    border-bottom: 1px solid purple;
}
.iblei-title-style {
    border-color: red;
}
.iblei-section-style {
    padding-left: 10px;
    border-left: 15px solid red;
    border-bottom: 1px solid red;
}
.sottotitolo-page {
    z-index: 1;
}

.title-section {
    padding-left: 10px;
    border-left: 15px solid orange;
    border-bottom: 1px solid orange;
    
}
 
.card-container{
    color: black;
    margin: 0px 10px;
}

.due-col{
    display: flex;
    justify-content: space-around;
    text-align: justify; 
}

.tre-col{
    display: flex;
    width: 100%;
    margin: 0px 0px 5px 0px;
    justify-content: space-around;
}


.argomenti{
    display: flex;
}

/*stile colonne per mobile*/
@media all and (max-width: 550px) {
    .due-col {
    flex-wrap: wrap;
    }
    }

@media all and (max-width: 700px) {
    .tre-col{
        /*flex-wrap: wrap;*/
        flex-direction: column;
    }
}    

#footer{
    background: #0a38c2;
}

