body {
  margin: 0px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

#header {
  position: relative;
  background: #0a38c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(imm/header-background-1.jpg);
  background-size: 100% 100%;
  background-position-x: 0px;
}

#header .gradient {
  background: -webkit-gradient(linear, left top, right top, from(#0a38c2), color-stop(70%, transparent));
  background: linear-gradient(to right, #0a38c2 0%, transparent 70%);
  position: absolute;
  width: 100%;
  height: 132px;
}

.logo {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo .logo-svg {
  padding-bottom: 5px;
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-linecap: square;
  stroke-linejoin: bevel;
}

.logo .logo-svg .logo-triangle {
  fill: #67B4F8;
}

.logo .text-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #67B4F8;
}

.main-menu {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0px;
}

.menu-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 10px;
  display: block;
}

.menu-link:hover {
  background: #0a38c2;
}

.modulo-ricerca {
  margin: auto 10px auto auto;
}

.campo-ricerca {
  outline: none;
  border-radius: 5px;
  padding-left: 5px;
}

/*stile navigazione per mobile*/
@media all and (max-width: 700px) {
  .navigation, .main-menu {
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-item {
    padding: 3px 0px;
  }
  .modulo-ricerca {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 10px;
  }
}

#page-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  margin-top: 10px;
}

#page-header .gradient-page-header {
  background: -webkit-gradient(linear, left top, right top, from(#0a38c2), to(transparent));
  background: linear-gradient(to right, #0a38c2 0%, transparent 100%);
  position: absolute;
  width: 100%;
  height: 160px;
}

.page-heading {
  z-index: 1;
  height: 50px;
  background: #67B4F8;
  padding-right: 30px;
  padding-left: 5px;
  border-right: 10px solid orange;
  border-bottom-right-radius: 50px 100px;
}

.nebrodi-title-style {
  border-color: green;
}

.nebrodi-section-style {
  padding-left: 10px;
  border-left: 15px solid green;
  border-bottom: 1px solid green;
}

.peloritani-title-style {
  border-color: yellow;
}

.peloritani-section-style {
  padding-left: 10px;
  border-left: 15px solid yellow;
  border-bottom: 1px solid yellow;
}

.sentieri-title-style {
  border-color: violet;
}

.sentieri-section-style {
  padding-left: 10px;
  border-left: 15px solid violet;
  border-bottom: 1px solid violet;
}

.prodotti-locali-title-style {
  border-color: purple;
}

.-prodotti-locali-section-style {
  padding-left: 10px;
  border-left: 15px solid purple;
  border-bottom: 1px solid purple;
}

.iblei-title-style {
  border-color: red;
}

.iblei-section-style {
  padding-left: 10px;
  border-left: 15px solid red;
  border-bottom: 1px solid red;
}

.sottotitolo-page {
  z-index: 1;
}

.title-section {
  padding-left: 10px;
  border-left: 15px solid orange;
  border-bottom: 1px solid orange;
}

.card-container {
  color: black;
  margin: 0px 10px;
}

.due-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: justify;
}

.tre-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0px 0px 5px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.argomenti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*stile colonne per mobile*/
@media all and (max-width: 550px) {
  .due-col {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media all and (max-width: 700px) {
  .tre-col {
    /*flex-wrap: wrap;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#footer {
  background: #0a38c2;
}
/*# sourceMappingURL=stile-pagine.css.map */