@charset "UTF-8";
body {
  font-family: arial, verdana, sans-serif;
  margin: 0px 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

#header {
  position: relative;
  background-color: SeaGreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: 100% 100%;
  background-position-x: 0px;
}

#header .gradient {
  position: absolute;
  width: 100%;
  height: 132px;
}

.logo {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo .logo-svg {
  -webkit-transform: scale(1.8, 1.8);
          transform: scale(1.8, 1.8);
  margin-right: 30px;
  padding-bottom: 5px;
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-linecap: square;
  stroke-linejoin: bevel;
}

.logo .logo-svg .logo-triangle {
  fill: none;
}

.logo .text-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-heading {
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 7em;
  margin-bottom: 20px;
  margin-top: 40px;
}

.heading-subtitle {
  letter-spacing: 10px;
  line-height: 30px;
  margin-top: 0px;
  font-weight: lighter;
}

.navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #3f3a3a;
  background-image: -webkit-gradient(linear, right top, left top, from(mediumseagreen), color-stop(30%, transparent));
  background-image: linear-gradient(to left, mediumseagreen 0%, transparent 30%);
}

.main-menu {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}

.menu-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 10px;
  display: block;
}

.form-item {
  position: absolute;
  right: 0;
}

.menu-link:hover {
  background: #0a38c2;
}

.modulo-ricerca {
  margin: auto 10px auto auto;
}

.campo-ricerca {
  outline: none;
  border-radius: 5px;
  padding-left: 5px;
}

.tasto {
  display: none;
}

/*stile navigazione per mobile*/
@media all and (max-width: 1200px) {
  .main-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .main-menu li:not(:first-child) {
    display: none;
  }
  .main-menu li.tasto {
    display: block;
  }
  .tasto {
    position: absolute;
    right: 0;
  }
  .topnav {
    position: relative;
  }
  /*ADD JAVASCRIPT CLASS*/
  .main-menu.responsive {
    position: relative;
    padding-bottom: 10px;
  }
  .main-menu.responsive .tasto {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .main-menu.responsive li, .form-item.responsive li {
    display: block;
    position: relative;
  }
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page-header {
  -webkit-box-shadow: 0px 5px 2px grey;
          box-shadow: 0px 5px 2px grey;
  border-top: 15px solid seagreen;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  margin-bottom: 10px;
}

#page-header .gradient-page-header {
  background: -webkit-gradient(linear, left top, right top, from(#3f3a3a), to(transparent));
  background: linear-gradient(to right, #3f3a3a 0%, transparent 100%);
  position: absolute;
  width: 100%;
  height: 160px;
}

#page-header .sottotitolo-page {
  padding-left: 20px;
}

.page-heading {
  z-index: 1;
  height: 50px;
  background: mediumseagreen;
  padding-right: 30px;
  padding-left: 5px;
  border-right: 10px solid orange;
  border-bottom-right-radius: 50px 100px;
  line-height: 1.5;
}

.nebrodi-title-style {
  border-color: orange;
}

.nebrodi-section-style {
  padding-left: 10px;
  border-left: 15px solid orange;
  border-bottom: 1px solid orange;
  margin-left: 20px;
}

.peloritani-title-style {
  border-color: yellow;
}

.peloritani-section-style {
  padding-left: 10px;
  border-left: 15px solid yellow;
  border-bottom: 1px solid yellow;
  margin-left: 20px;
}

.sentieri-title-style {
  border-color: violet;
}

.sentieri-section-style {
  padding-left: 10px;
  border-left: 15px solid violet;
  border-bottom: 1px solid violet;
  margin-left: 20px;
}

.prodotti-locali-title-style {
  border-color: purple;
}

.prodotti-locali-section-style {
  padding-left: 10px;
  border-left: 15px solid purple;
  border-bottom: 1px solid purple;
  margin-left: 20px;
}

.iblei-title-style {
  border-color: red;
}

.iblei-section-style {
  padding-left: 10px;
  border-left: 15px solid red;
  border-bottom: 1px solid red;
  background-image: -webkit-gradient(linear, left top, right top, from(red), color-stop(5%, transparent));
  background-image: linear-gradient(to right, red 0%, transparent 5%);
  margin-left: 20px;
}

.sottotitolo-page {
  z-index: 1;
}

.title-section {
  padding-left: 10px;
  border-left: 15px solid orange;
  border-bottom: 1px solid orange;
  margin-left: 20px;
}

.card-container {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
  -webkit-box-shadow: -5px 5px 3px grey;
          box-shadow: -5px 5px 3px grey;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.due-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: justify;
  width: 100%;
}

.tre-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0px 0px 5px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.argomenti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex {
  max-width: 100%;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  max-height: 200px;
}

.box .img-opacity {
  opacity: 1;
}

.map {
  height: 400px;
  width: 100%;
}

.dati-tecnici-box {
  height: 100%;
  background: #3f3a3a;
  color: white;
}

/*stile colonne per mobile*/
@media all and (max-width: 550px) {
  body {
    margin: 0px auto;
  }
  .due-col {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media all and (max-width: 700px) {
  body {
    margin: 0px auto;
  }
  .tre-col {
    /*flex-wrap: wrap;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#footer {
  background: #3f3a3a;
}

/*---------------------CLASSI DI UTILITÀ---------------------------*/
.pd-l-20px {
  padding-left: 20px;
}

.pd-r-20px {
  padding-right: 20px;
}

.justify-text {
  text-align: justify;
}

.logo-text {
  margin: 40px 0px;
}

.menu-link:hover {
  background: tomato;
}

.modulo-ricerca {
  margin: 7px 10px auto auto;
}

.flex {
  max-width: 100%;
}
/*# sourceMappingURL=stile-pagine.css.map */